body {
    font-family: 'Poppins';
}

h1, h2, h3 {
    color: #F2A0B7;
}




.blanquito{
    color: #F2F2F2;
}
.blanquito_back{
    background-color: #F2F2F2;
}

.rosadito{
    color: #F2A0B7;
}
.rosadito_back{
    background-color: #F2A0B7;
}

.verdesito{
    color: #0F8B8D;
}
.verdesito_back{
    background-color: #0F8B8D;
}

.marillito{
    color: #0F8B8D;
}
.marillito_back{
    background-color: #0F8B8D;
}

.rosadito_clarito{
    color: #F0D1EB;
}
.rosadito_clarito_back{
    background-color: #F0D1EB;
}


.btn-rosa-clarito{
    background-color: #F0D1EB;
    color: #dc3545;
}

.btn-rosa-clarito:hover, .btn-rosa-clarito:focus, .btn-rosa-clarito:active, .btn-rosa-clarito.active, .open>.dropdown-toggle.btn-rosa-clarito {
    color: #F2F2F2;
    background-color: #dc3545;
}

.btn-signup{
    background-color: #F0D1EB;
    color: #dc3545;
}

.btn-signup:hover, .btn-signup:focus, .btn-signup:active, .btn-signup.active, .open>.dropdown-toggle.btn-signup {
    color: #F2F2F2;
    background-color: #dc3545;
}